bootstrap*.css linguist-vendored
fontawesome*.css linguist-vendored
boostrap*.js linguist-vendored
jquery*.js linguist-vendored
popper*.js linguist-vendored
src/main/resources/static/webfonts/* linguist-vendored

