<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<div th:replace="fragments/header :: header-css"/>-->
</head>
<body>

<!--<div th:replace="fragments/header :: header"/>-->

<div class="container">

    <div class="starter-template">
        <h2>404 - Not found.</h2>
        <div th:inline="text">The requested URL [[${#httpServletRequest.requestURI}]] was not found on this server.</div>
        <div><p th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm:ss')}"></p></div>
    </div>

</div>
<!-- /.container -->

<!--<div th:replace="fragments/footer :: footer"/>-->

</body>
</html>
